.sidebar-categories__title {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 16px;
}

/* .sidebar-categories__list {
} */

.sidebar-categories__item {
	padding: 12px 4px;
	display: flex;
	align-items: center;
	gap: 8px;
	border-bottom: 1px solid #E6E7E8;
}

.sidebar-categories__label {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}